header{
  background-image: url("../img/bg3.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}
@media (min-width:300px) {
  header{
      background-image: url("../img/bg3.jpg");
  }
}
@media (min-width:576px) {
  header{
      background-image: url("../img/bg3.jpg");
  }
}
@media (min-width:992px) {
  header{
      background-image: url("../img/bg3.jpg");
  }
}
header nav div .navbar-brand{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
}
header nav div .navbar-brand span{
    font-weight: 200;
    letter-spacing: 3px;
}
header nav div div ul li a{
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.8px;
}
.active{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: 50% 2px;
    color: #fff;
}
.jumbotron h1{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
}
.jumbotron .descripcion,form .descripcion{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
}
.titulo{
    font-family: 'Nunito Sans', sans-serif;
}